﻿asgiref==3.4.1
attrs==21.4.0
autobahn==22.4.2
Automat==20.2.0
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==37.0.2
daphne==3.0.2
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.1
django-heroku==0.3.1
filelock==3.4.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
joblib==1.1.0
numpy==1.23.0
pandas==1.4.3
Pillow==9.0.1
platformdirs==2.4.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.1.1
scipy==1.8.1
service-identity==21.1.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.2.0
tzdata==2021.5
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
whitenoise==6.2.0
zope.interface==5.4.0
